.rd-sidebar {
  top: 2rem;
  left: 1rem;
}

nav {
  box-shadow: 0px -2px 0px #6C757D inset;
}

.card-dark {
  background-color: #212529;
  border-color: #F8F9FA;
  color: #F8F9FA;
}

.card-dark .card-header {
  background-color: #32383E;
  border-color: #F8F9FA;
}

.card-dark .form-control {
  background-color: #212529;
  color: #F8F9FA;
}

.card-dark ul,a {
  color: #F8F9FA;
  text-decoration: none;
  list-style: none;
  transition-duration: 0.2s;
}

.card-dark a:hover {
  color: #198754;
}

.btn-dark {
  border: 1px solid #32383E;
}

.btn-dark:hover {
  background-color: #1A1D20;
}

.post-card-body {
  padding-top: 0;
}

.rd-icon {
  padding-top: 1rem;
}

.rd-icon p {
  margin-bottom: 0;
}


.rd-icon:hover {
  background-color: #1A1D20;
  border-radius: 0.5rem;
}

.rd-icon a:hover {
  color: #FFF;
}

.rd-category a.btn-warning:hover {
  color: #000;
  background-color: #C89600;
  border-color: #C89600;
}

.rd-category a:not(.btn-warning):hover {
  color: #FFF;
}

#search_movies {
  padding: 0 0.8rem;
}

.icon {
  max-height: 2rem;
}

.post-content {
  background-color: #1A1D20;
  border-radius: 0.5rem;
  padding: 1rem;
}

.rd-movie-icon {
  object-fit: cover;
  height: 4rem;
  width: 4rem;
  border: 1px solid white;
  border-radius: 0.3rem 0 0.5rem 0;
  position: relative;
  right: 1rem;
}

.fa-heart:hover {
  transform: scale(1.2);
}